<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=JobBoard;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;InitialCatalog=JobBoard;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
</connectionStrings>