<connectionStrings>

  <add name="JobBoardEntities" connectionString="metadata=res://*/JobBoardDB.csdl|res://*/JobBoardDB.ssdl|res://*/JobBoardDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=JobBoard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=JobBoard;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;InitialCatalog=JobBoard;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
</connectionStrings>