
@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="open-container text-center">
    <br /><br />
    <br /><br />
    <h2>Your Email has been recieved. Thank you.</h2>
    <h4>Someone will be in touch with you soon</h4>
    <br /><br />
    <br /><br />
</div>

